body {
    background-color: #e6e6e6;
    color: #343a40;
}

a.navbar-brand {
    color: #66ccff !important;
    font-weight: bold;
}

nav.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

h5.data-len-show {
    margin-top: 62px;
    text-align: center;
}

nav.top_pn ul.pagination {
    margin-bottom: 0px;
}

nav ul li a.disabled-a{
    background-color: transparent !important;
}

nav ul.pagination a {
    background-color: transparent;
    border: none;
    padding-top: 4px;
    padding-bottom: 4px;
}

nav ul.pagination a:hover {
    background-color: #FFFFFF;
}

nav ul.pagination a:focus {
    box-shadow: none;
}

div.row {
    /* margin-top: 60px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 10px; */
    border-top-style: solid;
    border-bottom-style: solid;
    padding-top: 2px;
    padding-bottom: 4px;
    margin: 4px 10px;
    text-align: center;
}

div.custom-card-style {
    max-height: 432px;
    margin-top: 4px;
    padding-left: 2px;
    padding-right: 2px;
}

div.img-div {
    height: 350px;
    line-height: 350px;
    padding: 2px 4px;
}

div.card img{
    max-height: 350px;
    object-fit: contain;    /*CSS 3*/
    /* border-style: groove; */
}

div.card-body {
    padding: 4px 6px !important;
}

div.card-body a {
    color: #343a40;
}

div.my-card-title {
    min-height: 32px;
    max-height: 32px;
    line-height: 16px;
    font-size: 10pt;
    font-weight:bold;
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 0px;
    margin-top: 4px;
}

div.card-body>hr {
    margin-top: 8px;
    margin-bottom: 4px;
}

div.card-text>div {
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 4px;
}

div.row div.custom-card-style:nth-child(2n+1) div.card {
    background: #d9d9d9;
}

div.row div.custom-card-style:nth-child(2n+2) div.card {
    background: #cccccc;
}

div.add-icon {
    right: 12px;
    bottom: 12px;
    position: fixed;
    color: #FFFFFF;
    background-color: #343a40;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 10px;
}

div.add-icon:hover {
    color: #66ccff;
}

form#uploadForm input{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

::-webkit-input-placeholder {
    color: #bfbfbf !important;
}

:-ms-input-placeholder {
    color: #bfbfbf !important;
}


div.type-now {
    color: #FFFFFF;
    background-color: #343a40;
}


