body {
    margin-left: 8px;
    /* background: #d9d9d9; */
    max-width: 90%;
}

table {
    margin-top: 62px;
    border-collapse: collapse;
    width: auto;
    text-align: center;
}

/* table, */
th,
td {
    border: 1px solid black;
    text-overflow: ellipsis;
}

th,
td {
    padding: 2px 8px
}

th {
    color: #ffffff;
    background: #000000;
}

tbody>tr:hover {
    background-color: #66ccff;
}

.topBar {
    display: none;
}

.topBar_H {
    position: fixed;
    top: 56px;
    left: 0px;
    height: 6px;
    width: 100%;
    background-color: #e6e6e6;
}


div.modal-body input{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


@media only screen and (max-width: 992px) {

}
